@font-face {
	font-family: basic;
	font-weight: 500;
	src: url("../build/font/Basic-Regular.ttf");
}

@font-face {
	font-family: circular;
	font-weight: 500;
	src: url("../build/font/CircularStd-Book.woff");
}

@font-face {
	font-family: helvetica;
	font-weight: 500;
	src: url("../build/font/Helvetica-Neue-Regular.woff2");
}

@font-face {
	font-family: circular-b;
	font-weight: 500;
	src: url("../build/font/CircularStd-Bold.woff");
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(11, 18, 24, 0.5);
}

:root {
	--primary-color: #ff8d4f;
	--secondary-color: #f3f3f3;
	--default-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
	--light-border: #0d0e0d14;
	--light-text: #2b2b2d;
	--dark: #100602;
	--dark-border: #d5dcd52e;
	--defualtgradient: linear-gradient(60deg, #f7652f, #19346b);
}

body {
	max-width: 1900px;
	margin: 0 auto;
	background: #060101;
	color: #ffffff;
	font-size: 100%;
	font-weight: 500;
	font-family: "helvetica", sans-serif;
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;

	letter-spacing: 1px;
}

body.light {
	background: #f3f3f3;
	color: #2b2b2d;
}

/*----default-parameters--*/
h1,
h2 {
	font-size: 2em;
	font-weight: 500;
	font-family: "basic", sans-serif;
	letter-spacing: 1px;
}

h4,
h3 {
	font-size: 20px;
	font-weight: 500;
	font-family: "basic", sans-serif;
	letter-spacing: 1px;
}

.title {
	font-size: 1.4em;
	margin-bottom: 0.5em;
}

.header_txt {
	font-size: 1.8em;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.btn,
button,
.text-green {
	border: 1px solid #d5dcd5;
	outline: none;
	padding: 1px 10px;
	font-size: 13px;
	cursor: pointer;
	letter-spacing: 1px;
	background: transparent;
}

.text-green {
	background: #3bb713;
	color: #ffffff;
	border: none;
	cursor: auto;
}

.fa-star,
.fa-star-half {
	color: #f8ce36;
}

.sm {
	color: #020221;
	font-size: 0.886em;
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 1.3em;
	background: linear-gradient(220deg, rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 0.81));
	backdrop-filter: blur(10px);
	justify-content: center;
	cursor: wait;
	visibility: collapse;
	opacity: 0;
	transition: all 300ms linear;
	z-index: 10000000;
}

.loader.active {
	visibility: visible;
	opacity: 1;
}

.date,
.tag {
	font-size: 0.8756em;
	font-weight: 300;
	font-variant: all-small-caps;
	color: #c5c0c0;
}

.tag {
	color: #8c8a8a;
}

.tr {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-flow: row;
	gap: 10px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: static;
}

ul li,
a {
	text-decoration: none;
	display: inline-block;
	list-style: none;
	padding: 0 6px;
	cursor: pointer;
	color: inherit;
}

/*------------*/
.logo {
	font-size: 1.5em;
	letter-spacing: 1px;
	color: #ff8d4f;
	font-family: "circular-b", "circular", play, sans-serif;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0.1rem 2rem;
}

.col-3-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	align-items: center;
	max-width: 1100px;
	margin: 1rem auto;
	grid-gap: 15px;
	padding: 10px;
}

/*theme-button*/
.theme {
	position: relative;
	width: 100%;
	padding: 8px;
	background-color: rgba(12, 12, 12, 0.94);
	justify-content: flex-end;
	display: none;
}

.theme .theme__wrapper {
	position: relative;
	transition: all 300ms ease;
	width: 50px;
	height: 20px;
	border-radius: 10px;
	box-shadow: inset 0 0 6px #8c888880;
	padding: 5px;
	background-color: #2b2b2d;
}

.theme .theme__wrapper span {
	position: absolute;
	left: 5px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #ffffff;
	display: inline-block;
	transition: all 300ms ease-in-out;
}

.theme .theme__wrapper.theme__active {
	background-color: #ffffff;
}

.theme .theme__wrapper.theme__active span {
	transform: translateX(25px);
	background-color: var(--primary-color);
	left: unset;
}

/*---nav-list---*/
nav {
	padding: 10px;
	justify-content: flex-end;
	position: sticky;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9000;
	background: rgba(12, 12, 12, 0.94);
	backdrop-filter: blur(10px);
}

nav a {
	padding: 0;
}

.mobile-nav {
	display: none;
}

nav .logo {
	flex: auto
}

/*---search-area--*/
nav .search-btn {
	border: none;
	font-size: 1em;
	padding: 0 11px;
	color: #ffffff;
}

nav>.nav-list>.nav-link {
	position: relative;
	padding: 0 11px;
	text-transform: capitalize;
	color: #ffffff;
	letter-spacing: 1px;
	cursor: pointer;
}

nav>.nav-list>.nav-link::before {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	content: "";
	bottom: -5px;
	border-bottom: 3px solid var(--primary-color);
	transition: all 300ms ease-in-out;
	opacity: 0;
}

nav>.nav-list>.nav-link:hover::before,
nav>.nav-list>.nav-link.active::before {
	opacity: 1;
	width: 50%;
}

nav>.nav-list>.nav-link:hover [data-target="sub-menu"] {
	opacity: 1;
	visibility: visible;
}

/*---submenu---*/
nav [data-target="sub-menu"] {
	position: absolute;
	right: 0;
	width: 200%;
	opacity: 0;
	max-width: 1000px;
	padding: 10px 0;
	background: linear-gradient(60deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
	color: #ffffff;
	transform: translateY(20px);
	box-shadow: var(--default-shadow);
	cursor: auto;
	transition: all 300ms ease 100ms;
	visibility: collapse;

}

nav [data-target="sub-menu"]:not(.category-list) {
	width: calc(100vw / 10);
}

nav [data-target="sub-menu"] li {
	border-bottom: 1px solid #484747;
	padding: 7px 12px;
	width: 100%;
}

nav [data-target="sub-menu"] li a {
	width: 100%;
}

nav [data-target="sub-menu"] .tr ul {
	position: relative;
	width: 100%;
	max-width: 500px;
}

nav [data-target="sub-menu"] .tr ul li:not(:last-child) {
	display: flex;
	padding: 10px 15px;
}

nav [data-target="sub-menu"] .tr .list li:hover,
nav [data-target="sub-menu"] .tr .list li:hover .sublist {
	background: #090d15d6;
	opacity: 1;
}

nav [data-target="sub-menu"] .tr .sublist {
	position: absolute;
	height: 100%;
	left: 100%;
	bottom: 0;
	width: 100%;
	max-width: 500px;
	backdrop-filter: blur(1px);
	opacity: 0;
	transition: all 300ms ease-in-out;
}

nav [data-target="sub-menu"] .tr .sublist a {
	display: block;
}

nav [data-target="sub-menu"]::before {
	position: absolute;
	content: "";
	right: 20px;
	top: -19px;
	border-style: solid;
	border-width: 10px;
	border-color: transparent transparent rgba(0, 0, 0, 0.9) transparent;
}


/*--header---*/

.linear__header .title {
	font-size: 2em;
	max-width: 700px;
	max-height: 200px;
	overflow: hidden;
	line-height: 40px;
	padding: 0 10px;
	text-overflow: ellipsis;
}

.linear__header .social-links {
	color: var(--primary-color);
	font-size: 2em;
	margin-top: 1rem;
	padding: 0 1rem;
}

.linear__header#movie__index {
	background-image: url(../build/image/supernatural.jpg);
}

.linear__header .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	max-height: 100%;
	flex-direction: column;
	justify-content: center;
	background: rgba(0, 0, 0, 0.5);
}

.linear__header .btn {
	padding: 7px 15px;
	border-radius: 4px;
	background-color: #fb7932;
	border: none;
	font-size: 1em;
}

#indexHeader,
.linear__header {
	position: relative;
	width: 100%;
	min-height: 45vw;
	background: url(../build/image/vampirina.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
	padding: 0 0 1rem;
	transition: all 300ms ease-out;
}

.linear__header {
	background: linear-gradient(200deg, #0d0d0ea3, #050505e6), url(../build/image/Mulan.jpg) no-repeat center bottom fixed;
	background-size: cover;
	min-height: 40vh;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	color: #ffffff;
	padding: 0 10px;
}

.linear__header video {
	position: absolute;
	left: 0;
	width: 100vw;
	object-position: center;
}

#indexHeader .carousel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: space-evenly;
	align-items: end;
	flex-direction: column;
	padding: 0 10px;
	background: linear-gradient(200deg, #1b00ff1f, #020106);
	/*backdrop-filter: blur(3px);*/
}

#indexHeader .carousel .carousel-item {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	padding: 10px 16px;
	color: #ffffff;
	width: 99vw;
	max-width: 800px;
	flex-wrap: wrap-reverse;
	visibility: collapse;
	transition: all 300ms ease-in-out;
	overflow: hidden;
}

#indexHeader .carousel .carousel-item .text-detail {
	transform-origin: top;
	transform-style: preserve-3d;
	opacity: 0;
	visibility: hidden;
	transform: translateX(-300px);
	transition: all 300ms ease-in-out;
}

#indexHeader .carousel .carousel-item[data-target="true"] {
	visibility: visible;
}

#indexHeader .carousel .carousel-item[data-target="true"] .text-detail {
	opacity: 1;
	visibility: visible;
	transition-delay: 0.5s;
	transform: translateX(0);
}

#indexHeader .carousel .carousel-item .title {
	font-size: 2em;
}

#indexHeader .carousel .carousel-item .date {
	font-size: 0.8776em;
}

#indexHeader .carousel .carousel-item .action-buttons {
	margin: 1em 0;
}

#indexHeader .carousel .carousel-item .action-buttons * {
	margin: 0 10px 0 0;
	color: #ffffff;
	padding: 8px 15px;
	border-radius: 3px;
	cursor: pointer;
}

#indexHeader .carousel .carousel-item picture {
	max-width: 300px;
	max-height: 400px;
	visibility: collapse;
}

#indexHeader .carousel .carousel-dots {
	position: absolute;
	bottom: 10px;
	width: 100%;
	justify-content: center;
}

#indexHeader .carousel .carousel-dots * {
	position: relative;
	width: 25px;
	height: 4px;
	border-radius: 10px;
	margin: 0 7px;
	background: slategray;
	transition: all 300ms ease-in-out;
}

#indexHeader .carousel .carousel-dots *::before {
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	height: 100%;
	width: 0;
	background: #fa8639;
	transition: all 500ms linear;
	border-radius: 10px;
}

#indexHeader .carousel .carousel-dots *.active::before {
	width: 100%;
}

#indexHeader .carousel .carousel-controls {
	position: absolute;
	bottom: 30px;
	display: none;
}

main {
	position: relative;
	margin: 3em 0;
	overflow: hidden;
}

section {
	max-width: 1100px;
	margin: 1rem auto;
}

main .list {
	position: relative;
	margin: 0 auto;
	flex-direction: column;
	justify-content: normal;
	align-items: normal;
}

main>.list>.movie-links {
	position: relative;
	z-index: 500;
}

main .list>.tr {
	justify-content: space-between;
	flex: auto;
	overflow-x: auto;
	scrollbar-width: thin;
}

main .list>.tr .list-item {
	position: relative;
	list-style: none;
	cursor: pointer;
	font-size: 15px;
	margin: 10px;
	padding: 5px 10px;
	transition: all 300ms ease-in-out;
	font-family: 'circular', sans-serif;
	flex: none;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.08);
}

main .list>.tr .list-item.active {
	background: #ff8d4f;
	box-shadow: 0 6px 10px #ff8d4f36;
	color: #fff;
}

main>.list>#form-list>.filter {
	margin: 2em auto;
	width: 100%;
	padding: 15px 10px;
	position: relative;
	flex-wrap: wrap;
	overflow: unset;
	border-top: 1px solid #0d0e0d;
}

.light main>.list>#form-list>.filter {
	border-color: var(--light-border);
}

main>.list>#form-list>.filter>span {
	max-width: 300px;
	max-height: 40px;
	position: relative;
	margin: 10px 0;
	box-sizing: border-box;
}

main>.list>#form-list>.filter>span>label {
	font-size: 12px;
	line-height: 1.2;
	color: #989393;
}

main>.list>#form-list>.filter>span>input,
select {
	width: 100%;
	height: 100%;
	padding: 8px 5px;
	outline: none;
	border: 1px solid #151010;
	background: inherit;
	color: #fafafa;
	box-shadow: none;
	letter-spacing: 1px;
	font-family: "helvetica", sans-serif;
	text-transform: capitalize;
}

main>.list>#form-list>.filter>span>select>option {
	background-color: #2b2b2d;
}

.light main>.list>#form-list>.filter>span>input,
.light select,
.light main>.list>#form-list>.filter>span>select>option,
.light main>.list>.tr .list-item.btn {
	color: var(--light-text);
	border-color: var(--light-border);
	background: #f3f3f3;
}

main>.list>#form-list>.filter>.submit>button {
	border-radius: 3px;
	height: 35px;
	width: 100px;
	border: none;
	cursor: pointer;
	background: var(--defualtgradient);
	outline: none;
	letter-spacing: 1px;
	box-shadow: var(--default-shadow);
	color: #fff;
}

/*Movie-list*/
.movie-sections {
	position: relative;
}

.movie-sections>[datatype='movie_highlights']>div {
	margin: 0 auto;
}

.movie-sections .movie-list {
	margin: 7rem auto;
}

.movie-sections .movie-list>.header .tr:last-child i {
	color: #808080;
	font-size: 1em;
	padding: 0 12px;
	cursor: pointer;
}

.movie-sections .movie-list .col-1-md {
	position: relative;
	max-width: 1300px;
	margin: 1rem auto;
	overflow: hidden;
	width: 100%;
	justify-content: normal;
	white-space: nowrap;
	scrollbar-width: thin;
	scrollbar-color: transparent;
}

.movie-sections .movie-list .col-1-md.wrap {
	overflow: visible;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	justify-items: center;
}

.movie-sections .movie-list .col-1-md.wrap [data-play] {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 400;
	color: #ffffff;
	font-size: 2em;
	transition: all 200ms ease;
}

.movie-sections .movie-list .col-1-md::-webkit-scrollbar-thumb,
main>.list>.tr::-webkit-scrollbar-thumb,
.categories::-webkit-scrollbar-thumb,
.movie-sections .movie-list .col-2-md>div>.group .list::-webkit-scrollbar-thumb {
	background: transparent;
}

.movie-sections .movie-list .col-1-md .slick-track {
	display: flex;
}

.movie-sections .movie-list .col-1-md .col-obj {
	position: relative;
	width: 240px;
	max-width: 240px;
	max-height: 300px;
	background-color: #e0dfe4;
	border-radius: 3px;
	margin: 1rem;
	flex: none;
	overflow: hidden;
	box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);
	transition: all 300ms ease-in-out;
	padding: 0;
	outline: none;
}

.movie-sections .movie-list .col-1-md .col-obj:nth-child(even)::after,
.movie-sections .movie-list .col-1-md .col-obj:nth-child(odd)::after,
.movie-sections .movie-list .col-1-md .col-obj .img::before {
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 3px;
	background: linear-gradient(95deg, #ff4500, #008000);
}

.movie-sections .movie-list .col-1-md .col-obj:nth-child(odd)::after {
	background: linear-gradient(50deg, #5f00ffe3, #f7652f);
}

.movie-sections .movie-list .col-1-md .col-obj:hover {
	transform: translateY(-12px);
}

.movie-sections .movie-list .col-1-md .col-obj:hover [data-play] {
	color: var(--primary-color);
}

.movie-sections .movie-list .col-1-md .col-obj .img::before {
	height: 100%;
	border: none;
	background: linear-gradient(to bottom, rgba(15, 10, 20, 0.2), rgba(0, 0, 0, 0.7));
	color: #ffffff;
}

.movie-sections .movie-list .col-1-md .col-obj img {
	min-height: 300px;
}

.movie-sections .movie-list .col-1-md .col-obj .obj-footer {
	position: absolute;
	bottom: 7px;
	left: 0;
	width: 100%;
	z-index: 300;
	color: #ffffff;
	letter-spacing: 1px;
	padding: 0 5px;
	font-family: "circular", sans-serif;
}

.movie-sections .movie-list .sub-title {
	font-size: 1em;
	max-width: 200px;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 0.5rem;
	text-transform: capitalize;
}

.movie-sections .movie-list .col-1-md .col-obj .obj-footer .bars {
	width: 100%;
	height: 25px;
	background-color: #35353561;
	position: relative;
	transform: translateY(30px);
	transition: all 400ms linear;
}

.movie-sections .movie-list .col-1-md .col-obj:hover .obj-footer .bars {
	transform: translateY(0);
}

.movie-sections .movie-list .col-1-md .col-obj .obj-footer .bars>span {
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
}

.movie-sections .movie-list .col-1-md .col-obj .obj-footer .bars>span:not(.bar-text) {
	width: 0;
	opacity: 0;
	height: 100%;
	transition: all 500ms linear;
	transition-delay: 200ms;
}

.movie-sections .movie-list .col-1-md .col-obj:nth-child(even) .obj-footer .bars>span:not(.bar-text) {
	background: linear-gradient(95deg, #ff4500, #008000);
}

.movie-sections .movie-list .col-1-md .col-obj:nth-child(odd) .obj-footer .bars>span:not(.bar-text) {
	background: linear-gradient(50deg, #5f00ffe3, #f7652f);
}

.movie-sections .movie-list .col-1-md .col-obj:hover .obj-footer .bars>span:not(.bar-text) {
	opacity: 1;
	width: 90%;
}

.movie-sections .movie-list .col-1-md .col-obj .obj-footer .bars .bar-text {
	font-size: 11px;
	text-transform: uppercase;
	font-family: "circular", sans-serif;
}

section[datatype='weekly-view'] {
	width: 100%;
	height: 300px;
	background: linear-gradient(90deg, #44281c69, #000000e0),
		url(../build/image/vampirina.jpg) no-repeat fixed center;
	background-size: cover;
	color: #ffffff;
	backdrop-filter: blur(10px);
	flex-direction: column;
	justify-content: center;
	padding: 0 12px;
	max-width: 1500px;
}

section[datatype='weekly-view'] .header {
	align-self: flex-end;
	line-height: 25px;
	padding: 0 10px;
}

section[datatype='weekly-view'] .header .title {
	text-indent: 0;
	font-size: 2em;
	line-height: 1.2;
}

section[datatype='weekly-view'] .header .btn {
	padding: 5px 10px;
	border-radius: 3px;
	border: none;
	background: var(--primary-color);
	color: #ffffff;
	filter: saturate(4);
	margin-top: 1rem;
}

section[datatype='icons'].ads {
	height: 200px;
	width: 100%;
	padding: 10px;
	background: #70809014;
	margin: 1.5rem 0;
	max-width: 1600px;
	justify-content: center;
	pointer-events: none;
}

section[datatype='icons'].ads>.tr {
	justify-content: space-between;
	max-width: 500px;
	width: 100%;
}

section[datatype='icons'].ads .obj {
	text-align: center;
	font-size: 1em;
	line-height: 20px;
	color: #989393;
}

section[datatype='icons'].ads .obj i {
	font-size: 2em;
}

/*Categories*/
#category .categories .movie-links {
	position: sticky;
	top: 0;
	left: 0;
}

#category .categories>.movie-links .list-item {
	padding: 10px 15px;
	border-radius: 4px;
}

/*----grid-layout--*/
section {
	position: relative;
	padding: 0 10px;
}

.list.grid__list {
	position: relative;
	overflow: hidden;
}

.list.grid__list .col-3-grid {
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(279px, 1fr));
	place-items: center;
	max-width: unset;
}

.list.grid__list .col-3-grid .col-obj {
	margin: 1rem auto;
	line-height: 1.5;
	padding: 7px;
	max-width: 300px;
	border-radius: 3px;
	transition: all 300ms ease-in-out;
	border: 1px solid var(--dark-border);
}

.light .list.grid__list .col-3-grid .col-obj {
	border-color: #d5dcd5;
}

.list.grid__list .col-3-grid .col-obj:hover {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.list.grid__list .col-3-grid .col-obj img {
	border-radius: 4px;
	min-height: 250px;
	max-height: 250px;
	min-width: 250px;
}

.list.grid__list .col-3-grid .col-obj .tr>p {
	justify-content: normal;
}

.list.grid__list .col-3-grid .col-obj .tr .likes {
	color: #767776;
	font-size: 14px;
	flex-flow: row-reverse;
}

.list.grid__list .col-3-grid .col-obj .tr .fa-star {
	font-size: 0.8em;
}

.pagination {
	max-width: 330px;
	margin: 1rem auto;
	padding: 10px;
	justify-content: center;
}

.pagination .ctrl {
	margin: 0 10px;
	padding: 5px 7px;
	font-size: 1em;
}

.pagination a {
	border-color: #b9bfb98c;
}

.pagination a:not(.ctrl) {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.pagination a:active,
.pagination a.active {
	background: #292a2b;
}

.light .pagination a:active,
.light .pagination a.active {
	background-color: #d5dcd5;
}

.pagination a:hover {
	border: 1px solid #b9bfb9;
}

/*Iframe set*/
[data-iframe] {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	flex-direction: column;
	justify-content: center;
	display: none;
	transition: 300ms ease;
	z-index: 0;
}

[data-iframe].active {
	z-index: 9500;
	display: flex;
}

[data-iframe] iframe {
	width: 100%;
	height: 500px;
	max-width: 700px;
	max-height: 500px;
	border: none;
	border-radius: 5px;
}

.iframe .ifr__close {
	position: absolute;
	top: 0;
	right: 0;
	color: #ffffff;
	font-size: 1em;
	border-radius: 0 11px 0 100px;
	background-color: #5f63686b;
	padding: 11px 15px;
	cursor: pointer;
}

.iframe .movie-sections {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	max-height: 600px;
	padding-top: 19rem;
	overflow: hidden;
	overflow-y: auto;
}

.iframe .movie-sections .movie-list .col-1-md {
	display: flex;
	flex-direction: column;
}

.iframe .movie-sections .movie-list .col-1-md .col-obj {
	width: 160px;
	max-height: 207px;
}

/*---- -----*/
.section>.tr {
	margin: 3rem 0;
	flex-wrap: wrap;
}

.movie-page .section .header_txt {
	font-size: 0.976em;
	color: #808080;
}

.section>.tr .sections {
	max-width: 700px;
	padding: 10px;
}

.section>.tr .sections>div {
	margin: 0 0 2rem;
	line-height: 25px;
}

.section>.tr .movie__details {
	max-width: 500px;
}

.section>.tr .movie__details picture {
	max-width: 300px;
	max-height: 300px;
}

.section>.tr .movie__details picture img {
	max-width: inherit;
	max-height: inherit;
	object-position: center;
}

.section>.tr .mp4__properties .title {
	margin: 0;
}

.section>.tr .mp4__properties .tr {
	justify-content: normal;
	line-height: 30px;
}

.section>.tr .mp4__properties .tr span:nth-child(2) {
	margin-left: 0.6rem;
	font-size: 1em;
	color: var(--primary-color);
}

.section>.tr .sections .download__area {
	flex-direction: column;
	align-items: flex-start;
}

.section>.tr .sections .download__area .tr {
	justify-content: center;
}

.section>.tr .sections .download__area .btn {
	padding: 10px 1rem;
	border-radius: 4px;
	border-color: var(--dark-border);
	max-width: 300px;
	width: 100%;
	color: #ffffff;
	font-family: "circular", sans-serif;
	margin: 0.5rem 0;
	text-align: center;
}

.light .section>.tr .sections .download__area .btn {
	color: #000000;
	background-color: #c0c0c040;
	border: none
}

.section>.tr .sections .download__area .btn.download {
	background-color: #F7652F;
	box-shadow: 0 4px 12px #f7652f59;
	border: none;
	color: #ffffff;
}

/*--search-sections---*/
.search_header .list {
	display: block;
	width: 100%;
	margin: 1rem 0 0;
	position: absolute;
	top: 50px;
	background: inherit;
	z-index: 400;
	box-shadow: var(--default-shadow);
	opacity: 0;
	visibility: collapse;
}

.search_header .list .list-item {
	display: block;
	padding: 10px 20px;
	color: #ffffff;
	font-size: 0.876em;
	border-bottom: 1px solid #98969545
}

.search_header .list .list-item:hover {
	background: #2b2b2d;
}

.light .search_header .list .list-item:hover {
	background: #80808017;
}

.search_header .list .list-item:last-child {
	border: none;
}

.light .search_header .list .list-item {
	color: #2b2b2d;
}

.fx__pg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #f3f3f3;
	z-index: 500;
	display: none;
	/*turn on*/
}

body>footer.footer {
	background: #100602;
	margin-top: 1rem;
	width: 100%;
	padding: 15px;
	color: #ffffff;
	min-height: 50px;
	flex-flow: row wrap;
}

body>footer.footer .logo {
	padding: 0;
}

body>footer.footer>.g {
	white-space: nowrap;
}

body>footer.footer>.g>p {
	color: #989393;
	line-height: 20px;
}

body>footer.footer>.list {
	justify-content: normal;
}

body>footer.footer>.list>.list-item {
	font-size: 0.87em;
	color: #fffaf1;
	transition: 300ms ease;
}

body>footer.footer>.list>.list-item:hover {
	color: #ec5f2b;
}

body>footer.footer>.list>.list-item a {
	color: inherit;
}

body>footer.footer>.social-links>.tr {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid;
	border-collapse: collapse;
	justify-content: center;
	flex-direction: column;
	color: #f3f3f3;
	font-size: 1em;
	flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {

	/*---header--*/
	#indexHeader {
		min-height: 50vh;
	}

	.search-area input {
		max-width: 65%;
	}

	/*--movie-section--*/
	.list.grid__list .col-3-grid {
		grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	}

	.movie-sections .movie-list .col-1-md .col-obj {
		min-width: 178px;
	}

	.list.grid__list .col-3-grid .col-obj img {
		max-height: 210px;
		min-width: auto;
	}

	.movie-sections .movie-list .col-2-md div.obj-1 {
		max-width: unset;
		margin-bottom: 3rem;
	}

	.movie-sections .movie-list .col-2-md {
		flex-wrap: wrap;
	}

	.movie-sections .movie-list .col-2-md .video-caption {
		margin-bottom: 1rem;
	}

	.movie-sections .movie-list .col-2-md>div .video-caption {
		height: 100%;
		max-height: 300px;
		overflow: hidden;
	}

	.iframe .iframe__rel {
		display: none;
	}
}

@media only screen and (max-width: 530px) {
	nav>.nav-list {
		display: none
	}

	nav {
		backdrop-filter: none;
	}

	.mobile-nav {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 45px;
		display: flex;
		background-color: #0d0e0d;
		text-align: center;
		padding: 10px;
		color: #5d5a5a;
		border-radius: 10px 10px 0 0;
		backdrop-filter: none;
		z-index: 90000;
	}

	.mobile-nav p {
		font-size: 11px;
		font-variant: all-petite-caps;
		color: #b0b2b5;
	}

	.mobile-nav a * {
		transition: 300ms ease;
	}

	.linear__header video {
		width: unset;
	}

	.mobile-nav a:hover *,
	.mobile-nav a.active * {
		color: var(--primary-color);
	}

	#indexHeader .carousel .carousel-item {
		top: -20px;
	}

	.col-3-grid {
		grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
	}

	.light .search_header button {
		font-size: 0.87em;
		padding: 0 5px !important;
	}

	/*#indexHeader .carousel .carousel-controls{*/
	/*	display: none;*/
	/*}*/
}

@media only screen and (max-width: 400px) {
	.linear__header .title {
		line-height: 20px;
		font-size: 1.2em;
	}

	.header_txt {
		font-size: 1.5em
	}

	.logo {
		padding: 0;
	}

	.list.grid__list .col-3-grid .col-obj img {
		min-height: auto;
	}

	.movie-sections .movie-list .col-1-md {
		overflow: auto;
	}

	.movie-sections .movie-list .col-2-md>div>.group .list .list-item {
		min-height: 126px;
	}

	.movie-sections .movie-list .col-2-md>div>.group .list .list-item .play {
		padding: 5px 7px;
		font-size: 0.7em;
	}

	section[datatype='weekly-view'] .header .sublist {
		font-size: 0.876em;
		line-height: 18px;
	}

	section[datatype='icons'].ads {
		justify-content: normal;
	}

	section[datatype='icons'].ads .obj {
		margin: 10px;
		font-size: 0.8em;
		line-height: 16px;
	}

	.c-item {
		font-size: 0.8em;
		line-height: normal;
		padding: 4px 8px;
		min-width: 120px;
	}

	.search_header fieldset form {
		flex-wrap: wrap;
	}

	.search_header fieldset form button {
		flex: auto;
	}

	body>footer.footer {
		flex-direction: column;
		justify-content: normal;
		align-items: end;
	}

	body>footer.footer>.list {
		flex-direction: column;
		margin: 1rem 0;
		align-items: normal;
	}

	body>footer.footer>.list .list-item {
		margin-top: 0.8rem;
	}
}